
  h1 {
    color: #000000;
    margin: 0;
  }
  h2 {
    color: #000000;
    margin-bottom: 0;
  }
  h3 {
    color: #333333;
    border-bottom: 1px solid;
    margin-bottom: 0;
  }
  li{
    margin: 0;
  }
  ul{
    margin: 0;
  }
  p {
    color: #444444;
    margin: 0;
  }
  a {
    color: #440000;
  }